.container {
  text-align: center;
}

#circle {
  fill: none;
  stroke: black;
  /* stroke-dasharray: 100;
  animation: surround 2s ease-in alternate infinite; */
}

/* @keyframes surround {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
} */

.lines {
  stroke-dasharray: 100;
  animation: stroke 2s ease-in alternate infinite;
}

@keyframes stroke {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#love {
  animation-name: color;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes color {
  80% {
    fill-opacity: 1;
  }
  90% {
    fill-opacity: 0;
  }
}
