.container {
  text-align: center;
}

.circle {
  fill: none;
  stroke: black;
  /* stroke-dasharray: 100;
  animation: surround 2s ease-in alternate infinite; */
}

/* @keyframes surround {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
} */

.lines {
  /* stroke-dasharray: 100;
  animation: stroke 2s ease-in alternate infinite; */
}

/* @keyframes stroke {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
} */
